.cart{
      min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/vecteezy_ai-generated-grocery-cart-full-of-shopping-copy-space_39898959.jpg');
    background-position: center;
    background-size: cover;
    
}