
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
   
   
    color: white;
   border-radius: 10px;
  background-color: rgb(28, 230, 28);
}

.slick-prev, .slick-next{
    display: none !important;
}
 .slick-dots li button:before{
    color: red !important;
   
}
.toggole-heart{
    color: #17f317;
}
.product{
    transition: 1s ease;
}
.product:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 0px #09dd2c;
}

.bg{
     background-image: url('./assets/images/light-patten.svg');
    background-position: center;
    background-size: cover;
}