
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: white;
   border-radius: 10px;
  background-color: #0a1179;
}
.toggole-heart{

  color: #17f317;
}


.bg{
     background-image: url('./assets/images/light-patten.svg');
    background-position: center;
    background-size: cover;
}